.btnname{
    margin-top: 30px;
    margin-bottom: 30px;
}
.btnname button{
    margin-left: 40px;
}
.div2{
    width: 400px;
    background-color: aliceblue;
    margin: auto;
    
}
.div2 span{
    background-color: rgb(161, 232, 118);
    display: flex;
    margin-top: 4px;
}